@import "../../../Style/index";

.AuthPage {
	font-family: Comfortaa;
	width: 40%;
	margin: auto;
	margin-top: 10%;
}

.Auth-section {
	display: flex;
	flex-direction: column;

}

.Auth-block {
	margin-bottom: 5%;
	height: 30px;
	display: flex;
}

.Auth-text-block {
	color: $secondary-color;
	height: 100%;
	background-color: $primary-color;
	text-align: center;
	font-size: $auth-font-size;
	display: flex;
	justify-content: center;
	width: 27%;
	cursor: pointer;
}

.Auth-text-block-active {
	background-color: $secondary-color;
	color: $primary-color;
}

.Auth-input-block {
	margin-left: 5%;
	width: 60%;
}

.Auth-input {
	border: none;
	outline: none;
	font-family: Comfortaa;
	font-size: $auth-input-font-size;
	background-color: $secondary-color;
	color: $primary-color;
}

.Auth-input-active {
	color: $secondary-color;
	background-color: $primary-color;
}

.Auth-button {
	cursor: pointer;
	font-family: Comfortaa;
	border: none;
	outline: none;
	color: $secondary-color;
	background-color: $primary-color;
	font-size: $auth-input-font-size;
	margin-left: 27%;
	margin-top: 5%;
	&:hover {
		color: $primary-color;
		background-color: $secondary-color;
	}
}

.Auth-error {
	display: none;
	font-family: Comfortaa;
	width: 45%;
	text-align: center;
	font-size: $auth-input-font-size;
	background-color: $primary-error-color;
	color: $secondary-error-color;
	margin-left: 15%;
	padding: 1%;
}

.Auth-error-active {
	display: inline-block;
}