@import "src/Style/index.scss";

.Main {
	display: flex;
	flex: 1 0 auto;
}

.Main-section-side {
	width: 15%;
	background-color: $footer-background-side-color;
}

.Main-section-content {
	width: 70%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: $main-background-color;
}