@import "light.scss";

// Header

$header-headline-font-size: 28px;
$header-link-font-size: 16px;
$header-avatar-size: 32px;

// Footer

$footer-links-font-size: 16px;

// Auth

$auth-font-size: 24px;
$auth-input-font-size: 26px;