@import "light.scss";

// Global

$font-family: "Source Code Pro";

$headline-font-size: 26px;


.Headline-block {
	font-family: $font-family;
	font-size: $headline-font-size;
	background-color: $headline-background-color;
	height: 10%;
	text-align: center;
	padding: 10px;
	border: 1px solid $headline-border-color;
	margin-bottom: 5%;
}

// Header

$header-headline-font-size: 28px;
$header-link-font-size: 16px;
$header-avatar-size: 32px;

// Footer

$footer-links-font-size: 16px;

// Auth

$auth-font-size: 24px;
$auth-input-font-size: 26px;

// Questions

$questions-text-font-size: 18px;

// Contact

$contact-font-size: 24px;

// Create

$create-menu-font-size: 18px;
$create-counters-headline-font-size: 20px;
$create-counters-font-size: 30px;
$create-no-login-font-size : 18px;
$create-chapter-font-size: 30px;
$create-chapter-headline-font-size: 20px;
$create-story-options-font-size: 30px;
$create-story-level-title-font-size: 18px;