// Global

$font-family: "Bell MT";
$default-background-color: white;
$default-border-color: #e5e5e5;
$default-error-background-color: #FF0D00;
$default-error-color: honeydew;
$default-success-color: lightgreen;
$headline-background-color: white;
$headline-border-color: #e5e5e5;



// Header

$header-background-color: #828fff;
$header-link-color: black;
$header-headline-link-color: black;

// Footer

$footer-background-color: #828fff;
$footer-links-color: black;

// Main

$main-background-color: #efefef;
$footer-background-side-color: #ededed;

// Auth

$auth-background-color: $default-background-color;
$auth-border-color: $default-border-color;
$auth-button-background-color: #828fff;
$auth-ERROR-color: $default-error-color;
$auth-ERROR-background-color: $default-error-background-color;
$auth-success-border-color: $default-success-color;

// Questions

$questions-background-color: $default-background-color;
$question-border-color: $default-border-color;

// Contact Us

$contact-background-color: $default-background-color;
$contact-border-color: $default-border-color;
$contact-button-background-color: #828fff;
$contact-error-background-color: $default-error-background-color;
$auth-error-color: $default-error-color;