// Global

$font-family: "Bell MT";

// Header

$header-background-color: #828fff;
$header-link-color: black;
$header-headline-link-color: black;

// Footer

$footer-background-color: #828fff;
$footer-links-color: black;

// Main

$main-background-color: #efefef;
$footer-background-side-color: #ededed;

// Auth

$auth-button-background-color: #828fff;
$auth-ERROR-color: honeydew;
$auth-ERROR-background-color: #FF0D00;