@import "src/Style/index.scss";

@mixin link-constructor($link-color ,$link-font-size) {
	font-family: Comfortaa;
	text-decoration: none;
	color: $link-color;
	font-size: $link-font-size;
}

@mixin default-flex-template() {
	display: flex;
	justify-content: space-around;
}

.Header-block {
	@include default-flex-template();
	background-color: $primary-color;
	padding: 1%;
}

.Header-section {
	text-align: center;
	width: 30%;
	margin: auto;
}

.Header-headline {
	@include link-constructor($secondary-color, $header-headline-font-size)
}

.Header-link {
	@include link-constructor($secondary-color, $header-font-size)
}

.Header-center-section {
	@include default-flex-template();
}

.Header-center-block {
	padding: 2%;
	cursor: pointer;
	&:hover {
		background-color: $secondary-color;
		.Header-link {
			color: $primary-color;
		}
	}
}

.Header-language-icon {
	cursor: pointer;
	height: 10%;
	width: 10%;
	&:first-of-type {
		margin-bottom: 1%;
	}
}

.Header-right-section {
	@include default-flex-template();
}

.Header-right-block-no-register {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.Header-language-block {
	display: flex;
	margin: auto auto auto 20%;
	flex-direction: column;
}

.Header-register-link {
	@include link-constructor($secondary-color, $header-register-font-size)
}

.Header-register-block {
	margin: auto;
	&:hover {
		background-color: $secondary-color;
		.Header-register-link {
			color: $primary-color;
		}
	}
}

.Header-right-block-yes-register {
	display: flex;
	width: 100%;

}
.Header-right-block-profile {
	width: 50%;
	margin-left: 10%;
}

.Header-right-block-avatar {
	width: 40%;
	img {
		height: 100%;
		width: 100%;
	}
}
.Header-right-block-profile-link-block {
	background-color: $primary-color;
	display: inline-block;
	a {
		font-size: $auth-font-size;
		color: $secondary-color;
		text-decoration: none;
	}
	&:hover {
		background-color: $secondary-color;
		a {
			color: $primary-color;
			text-decoration: none;
		}
	}
}