@import "src/Style/index.scss";

@mixin header-section($width, $font-size) {
	display: flex;
	width: $width;
	font-size: $font-size;
	font-family: "Bell MT";
	text-align: center;
}

@mixin header-link($color: black) {
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 0% 2px;
	transition: background-size .3s;
	color: $color;
	&:hover {
		background-size: 100% 2px;
	}
}

.Header {
	display: flex;
	background-color: #828fff;
	padding: 5px;
}

.Header-section-Headline {
	@include header-section(25%, $header-headline-font-size);
}

.Header-headline {
	cursor: pointer;
	margin: auto;
	text-decoration: none;
	color: $header-headline-link-color;
}

.Header-section-Main {
	@include header-section(50%, $header-link-font-size);
	justify-content: space-around;
}

.Header-main-link-block {
	margin: auto;
}

.Header-main-link {
	@include header-link($header-link-color)
}

.Header-section-Profile {
	@include header-section(25%, $header-link-font-size);
}

.Header-profile-section {
	display: flex;
	width: 80%;
	flex-direction: column;
}

.Header-profile-block {

}

.Header-profile-link {
	@include header-link($header-link-color)
}

.Header-flags-block {
	display: flex;
	width: 20%;
	flex-direction: column;
}

.Header-flag {
	cursor: pointer;
	width: 40%;
	height: 40%;
	&:first-of-type {
		margin-bottom: 5%;
	}
}